<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/sun-and-cloud.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
        {{> header}}
        <p>This site was created by Jan Vaclavik. It uses data from mapbox.com and weatherapi.com.</p>
        <img class ="portret" src="/img/me.jpg" alt="About Us">
        </div>
        {{> footer}}
    </body>
</html>