<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/sun-and-cloud.png">
    </head>
    <body>
        <title>Help</title>
        <div class="main-content">
            {{> header}}
            <p>{{paragraph}}</p>
        </div>
        {{> footer}}
    </body>
</html>