<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/sun-and-cloud.png">
        <title>Weather</title>
    </head>
    <body>
        <div class="main-content">
            {{> header }}
            <p class="weather-description">Získejte aktuální předpověď počasí pro vaši lokaci</p>

            <form>
                <input placeholder="Zadejte město nebo adresu" id="location-input">
                <button type="submit">Vyhledat</button>
            </form>
            
            <div class="weather-result" id="weather-result">
                <p id="message-1"></p>
                <div id="message-2"></div>
            </div>
        </div>
        {{> footer}}

        <script src="/js/app.js"></script>
    </body>
</html>